{erl_opts, [
    {platform_define, "^19", brutal_purge_fixed},
    {platform_define, "^2", brutal_purge_fixed},
    warnings_as_errors,
    debug_info]}.

{deps, [
    {bbmustache, "1.5.0"},
    string_compat
]}.

{cover_enabled, true}.
{validate_app_modules, true}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all, debug_info]}
    ]}
]}.

{ct_opts, [
    {dir, "test"},
    {config, "test/rebar3_appup_plugin_SUITE.config"}
]}.
